/* PC */
@media (min-width: 64em) {
    
}
/* Tablet */
@media (max-width: 46.25em) and (max-width: 63.9375em) {

}

@media (max-width: 163.9375em) {

}

/* Mobile */
@media (max-width: 46.1875em) {
    .s-full-width, 
    .s-col-full {
        width: 100% !important;
    }

    .s-mt-8 {
        margin-top: 8px !important;
    }

    #header {
        width: 100%;
        overflow: hidden;
    }

    #header .search-button {
        display:  none;
    }
    .ticket-list {
        width: 100%;
    }

    #header .mobile-menu-btn {
        position: absolute;
        top: 0;
        right: 0;
        display: block;
    }
    
    #nav {
        display: block;
    }

    #nav > li {
        display: block;
    }

    #nav > li:first-child {
        display: inline-block;
    }

    #nav .subnav {
        position: initial;
        background-color: #333;
    }

    #nav .subnav a {
        color: #fff;
        padding: 5px 40px; 
    }

    #content .member-item {
        margin-top: 30px;
        width: 100%;
    }

    #content .member-img {
        width: 60%;
    }

    .place-list {
        width: 100%;
    }

    .contact-form {
        margin-top: 16px;
    }

}